.vs/Primer proyecto/v17/.wsuo
.vs/Primer proyecto/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/CopilotIndices/17.13.441.19478/CodeChunks.db
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/CopilotIndices/17.13.441.19478/SemanticSymbols.db
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/FileContentIndex/8534ce85-bad1-4fee-ab07-c349117b3166.vsidx
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/FileContentIndex/f253e161-5ea3-41b5-9c99-c886b1b3adcc.vsidx
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/.suo
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/Browse.VC.db
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/Browse.VC.db-shm
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/Browse.VC.db-wal
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/Browse.VC.opendb
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/DocumentLayout.backup.json
Arquitectura-1er-proyecto-ASM/.vs/Arquitectura-1er-proyecto-ASM/v17/DocumentLayout.json
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/Debug/Arquitec.4d3fc919.tlog/Arquitectura-1er-proyecto-ASM.lastbuildstate
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/Debug/Arquitec.4d3fc919.tlog/Masm.read.1u.tlog
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/Debug/Arquitec.4d3fc919.tlog/Masm.write.1u.tlog
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/Debug/Arquitec.4d3fc919.tlog/unsuccessfulbuild
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/Debug/Arquitectura-1er-proyecto-ASM.log
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/x64/Debug/Arquitec.4d3fc919.tlog/Arquitectura-1er-proyecto-ASM.lastbuildstate
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/x64/Debug/Arquitec.4d3fc919.tlog/Masm.read.1u.tlog
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/x64/Debug/Arquitec.4d3fc919.tlog/Masm.write.1u.tlog
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/x64/Debug/Arquitec.4d3fc919.tlog/unsuccessfulbuild
Arquitectura-1er-proyecto-ASM/Arquitec.4d3fc919/x64/Debug/Arquitectura-1er-proyecto-ASM.log
Arquitectura-1er-proyecto-ASM/Arquitectura-1er-proyecto-ASM.sln
Arquitectura-1er-proyecto-ASM/Arquitectura-1er-proyecto-ASM.vcxproj
Arquitectura-1er-proyecto-ASM/Arquitectura-1er-proyecto-ASM.vcxproj.filters
Arquitectura-1er-proyecto-ASM/Arquitectura-1er-proyecto-ASM.vcxproj.user
